{% extends 'portfolio/base_template.html' %}
{% block content %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Bootstrap Footer Examples 2020</title>
  </head>
  
</html>
<br>
<br>
<br>
<br>

<div class="container-fluid text-center">

    
    
   
    <div>
            
        <div class="container alert alert-dark">
            <h1 class="display-3">Number of articles: {{ article.count }}</h1>
                
        </div>
            
            
    </div>
     
    <br>
    <br>   

    {% for articles in article %}
    <div class="card text-center">
        
        <div class="card-body">
          <h5 class="card-title">{{ articles.title }}</h5>
          <p class="card-text">{{ articles.description|truncatechars:200 }}</p>
          <a href="{% url 'blog:detail' articles.id %}" class="btn btn-primary">Read</a>
        </div>
        <div class="card-footer text-muted">
            {{ articles.date|date:'M d Y' }}
        </div>
    </div>
    <br>
    <br>
    <br>

    
    {% endfor %}

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>   

          
    <footer class="page-footer w-100 py-4 flex-shrink-0 bg-dark text-light">
        <div class="container text-center py-4 pb-0">
            <div class="row gy-5 gx-5">
                <div class="col-lg-4 col-md-6">
                    <p class="display-6">My Portfolio</p>
                            
                            
                    <p class="small text-muted mb-0">&copy; 2022</p>
                </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">EXPLORE</h5>
                <hr class="bg-light mb-4 mt-0 d-incline-block" style="margin: auto; width: 110px; height:2px">
                <ul class="list-unstyled text-muted">
                    <li><a style="color: gray" href="{% url 'home' %}">Home</a></li>
                    <li><a style="color: white" href="{% url 'blog:blogs' %}">Blog</a></li>
                    <li><a style="color: white" href="{% static 'portfolio/resume.pdf' %}"target="_blank">Resume</a></li>
                                
                                
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">FOLLOW</h5>
                <hr class="bg-light mb-4 mt-0 d-incline-block" style="margin: auto; width: 110px; height:2px">
                <ul class="list-unstyled text-muted">
                    <li><a style="color: white" href="https://www.linkedin.com/in/ahmad-dannouf-7572521b4/" target="_blank">LinkedIn</a></li>
                    <li><a style="color: white" href="https://github.com/ahmadkdannouf" target="_blank">Github</a></li>
            
                </ul>
                            
            </div>
            <div class="col-lg-3 col-md-6 align-items-center">
                <h5 class="text-white mb-3">CONTACT</h5>
                <hr class="bg-light mb-4 mt-0 d-incline-block" style="margin: auto; width: 110px; height:2px">
                <ul class="list-unstyled align-items-center text-muted">
                    <li><a style="color: white">ahmadkdannouf@gmail.com</a></li>
                    <li><a style="color: white">804-297-1106</a></li>
                                
                </ul>
            </div>
            
                        
            </div>
        </div>
    </footer>
</div>      


     

{% endblock %}